# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# VS Code settings
.vscode/

# Python virtual environments
venv/
env/
mcp-env/

# Logs and system files
*.log
.DS_Store

# SQLite database
db/arxiv.db
db/__pycache__/

# Python egg info
*.egg-info/

# Docker
*.pid
*.bak
*.swp

# Coverage
htmlcov/
.coverage

# Git
.git/

# Ignore model + cache files
open-webui/cache/
*.bin
*.pt
*.ckpt
*.tar.gz
*.h5
*.onnx
*.pb